/* Estilos padrão (light mode) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #333;
    color: white;
}